In [32]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#Getting some data from the internet
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [33]:
"""The website would have opened on executing the above code. Select the first 5 rows from the win loss table 
on that page and copy to clipboard. Below is code that lets you read from clipboard """
nfl_frame = pd.read_clipboard()
nfl_frame #pandas converted the clipboard into an indexed data frame below

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [37]:
nfl_frame.columns
nfl_frame.Division

0    NFC North
1     NFC East
2    NFC North
3     AFC East
4     AFC East
Name: Division, dtype: object

In [14]:
nfl_frame.get_values

<bound method DataFrame.get_values of    Rank                   Team   Won   Lost   Tied   Pct.   First NFL Season   \
0      1         Chicago Bears    741    555     42  0.570               1920
1      2        Dallas Cowboys    480    364      6  0.568               1960
2      3     Green Bay Packers    720    547     37  0.566               1921
3      4        Miami Dolphins    429    335      4  0.561               1966
4      5  New England Patriots    462    381      9  0.548               1960

  Total Games    Division
0       1,338   NFC North
1         850    NFC East
2       1,304   NFC North
3         768    AFC East
4         852    AFC East  >

In [26]:
nfl_frame['Division']

0    NFC North
1     NFC East
2    NFC North
3     AFC East
4     AFC East
Name: Division, dtype: object

In [27]:
#nfl_frame['Total Games']

KeyError: 'Total Games'

In [29]:
DataFrame(nfl_frame, columns=['Team','Division'])

   Team   Division
0   NaN  NFC North
1   NaN   NFC East
2   NaN  NFC North
3   NaN   AFC East
4   NaN   AFC East

In [30]:
DataFrame(nfl_frame, columns=['Any column','Division'])

   Any column   Division
0         NaN  NFC North
1         NaN   NFC East
2         NaN  NFC North
3         NaN   AFC East
4         NaN   AFC East

In [38]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [40]:
nfl_frame.head() #retrieves first 5 rows by default

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East

In [41]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East

In [42]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [43]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [45]:
nfl_frame.ix[3] #index used to retrieve data frame

Rank                               4
Team                 Miami Dolphins
Won                              429
Lost                             335
Tied                               4
Pct.                           0.561
First NFL Season                1966
Total Games                     768
Division                    AFC East
Name: 3, dtype: object

In [46]:
nfl_frame['Stadium'] = "Levi's Stadium"
nfl_frame #since only one argument was passed it assigns it as a new column to all rows

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [51]:
nfl_frame['Stadium'] = np.arange(5)  #np.arange(4) and np.arange(6) will not work
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4

In [55]:
#Adding a Series to a DataFrame for specific indexes
Stadiums = Series(['Levi Stadium','AT&T'],index=[4,0])
Stadiums #Series with 2 indexes and values

4    Levi Stadium
0            AT&T
dtype: object

In [57]:
nfl_frame['Stadium'] = Stadiums # A simple statement assigned the Stadiums values as per index to the Stadium column
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi Stadium

In [58]:
del nfl_frame['Stadium'] #delete column
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [60]:
"""Construct a DataFrame just by passing a dictionary"""
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [ ]:
#[pandas.pydata.org]