In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.748794  0.837177  X  alpha
1  0.672381 -0.761164  X   beta
2  1.298513 -0.950374  Y  alpha
3  0.134755  2.168175  Y   beta
4  1.102736 -0.352818  Z  alpha

In [6]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [8]:
group1.mean()

k1
X    0.710587
Y    0.716634
Z    1.102736
Name: dataset1, dtype: float64

In [9]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['Jan','Feb','Jan','Feb','Jan'])

In [10]:
dframe['dataset1'].groupby([cities, month]).mean()

LA  Feb    0.672381
    Jan    1.298513
NY  Feb    0.134755
    Jan    0.925765
Name: dataset1, dtype: float64

In [11]:
#passing column names as group keys
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.710587  0.038006
Y   0.716634  0.608901
Z   1.102736 -0.352818

In [12]:
dframe.groupby(['k1','k2']).mean() #mean on both keys

          dataset1  dataset2
k1 k2
X  alpha  0.748794  0.837177
   beta   0.672381 -0.761164
Y  alpha  1.298513 -0.950374
   beta   0.134755  2.168175
Z  alpha  1.102736 -0.352818

In [13]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [14]:
dframe

   dataset1  dataset2 k1     k2
0  0.748794  0.837177  X  alpha
1  0.672381 -0.761164  X   beta
2  1.298513 -0.950374  Y  alpha
3  0.134755  2.168175  Y   beta
4  1.102736 -0.352818  Z  alpha

In [15]:
for name, group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print "\n"

This is the X group
   dataset1  dataset2 k1     k2
0  0.748794  0.837177  X  alpha
1  0.672381 -0.761164  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  1.298513 -0.950374  Y  alpha
3  0.134755  2.168175  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  1.102736 -0.352818  Z  alpha

In [18]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print "\n"

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0  0.748794  0.837177  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1  0.672381 -0.761164  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  1.298513 -0.950374  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.134755  2.168175  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  1.102736 -0.352818  Z  alpha

In [19]:
group_dic = dict(list(dframe.groupby('k1')))

In [21]:
group_dic['X']

   dataset1  dataset2 k1     k2
0  0.748794  0.837177  X  alpha
1  0.672381 -0.761164  X   beta

In [23]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))
group_dict_axis1 #separated the dataframe by data types of data along columns, i.e. all float64 and dtype '0' i.e. characters

{dtype('float64'):    dataset1  dataset2
 0  0.748794  0.837177
 1  0.672381 -0.761164
 2  1.298513 -0.950374
 3  0.134755  2.168175
 4  1.102736 -0.352818, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [24]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.837177
   beta  -0.761164
Y  alpha -0.950374
   beta   2.168175
Z  alpha -0.352818