In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [4]:
ser = Series(randn(6),index= [[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [5]:
ser
"""as seen below, the way index worked - the first set of values in first series of index were grouped with the first
3 values of second series of index on which random numbers assigned, and so on"""

1  a   -0.475088
   b   -0.976386
   c   -0.926056
2  a    0.852960
   b    0.492418
   c    0.884697
dtype: float64

In [6]:
type(ser)

pandas.core.series.Series

In [8]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
ser[1]

a   -0.475088
b   -0.976386
c   -0.926056
dtype: float64

In [10]:
ser[2]

a    0.852960
b    0.492418
c    0.884697
dtype: float64

In [11]:
ser[:,'a'] """: indicates everything in the higher index, and all 'a's in lower index"""

1   -0.475088
2    0.852960
dtype: float64

In [14]:
dframe = ser.unstack()
dframe """transposed"""

          a         b         c
1 -0.475088 -0.976386 -0.926056
2  0.852960  0.492418  0.884697

In [16]:
dframe = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','cold','hot']])
dframe """Creates superb multi-level dataframe"""

      NY       LA  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [18]:
dframe.index.names = ['INDEX_1','INDEX_2']
dframe.columns.names = ['CITIES','TEMPERATURE']
dframe

CITIES            NY       LA  SF
TEMPERATURE     cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [23]:
dframe.swaplevel('CITIES','TEMPERATURE',axis=1)
dframe """Not working for some reason. - actually temperature should have appeared on top"""

CITIES            NY       LA  SF
TEMPERATURE     cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [24]:
dframe.sortlevel(1) #row indexes sorted

CITIES            NY       LA  SF
TEMPERATURE     cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
b       1          8   9   10  11
a       2          4   5    6   7
b       2         12  13   14  15

In [25]:
dframe.sortlevel(0) #sort by outer index i.e. default

CITIES            NY       LA  SF
TEMPERATURE     cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [26]:
dframe.sum(level='TEMPERATURE',axis=1) #Sum on temperature but only on columns i.e. axis =1

TEMPERATURE      cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28