In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

my_ser = Series([1,2,3,4],index=['A','B','C','D'])
Series
print(my_ser)

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
my_index = my_ser.index
print(my_index)
my_index[2]

Index([u'A', u'B', u'C', u'D'], dtype='object')

'C'

In [8]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [10]:
my_index[0] = 'R'
"""Indexes are immutable objects. You cannot change them once assigned which is good"""

TypeError: Index does not support mutable operations

In [12]:
#Starting with reindexing now
import numpy as np
from pandas import Series, DataFrame
import pandas
from numpy.random import randn

In [14]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [16]:
ser2 = ser1.reindex(['A','B','C','D','E','F']) #reindexed to create a new series ser2 using ser1 values
print(ser2) #automatically assigns NaN to indexes that dont have value

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [21]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value='@')
#Assigned a value using fill_value argument of reindex function to values newly added after reindexing.
#Note that the 'G' was assigned the fill value, but 'E' and 'F' were not

A      1
B      2
C      3
D      4
E    NaN
F    NaN
G      @
dtype: object

In [24]:
ser3 = Series(['USA','Canada','Mexico'],index=[0,5,10])
ser3

0        USA
5     Canada
10    Mexico
dtype: object

In [30]:
ser4 = ser3.reindex(range(15))
ser4

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Canada
6        NaN
7        NaN
8        NaN
9        NaN
10    Mexico
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [32]:
ser5 = ser3.reindex(range(15),method='ffill')
"""ffill is a Python syntax .. argument passed to method function indicates
forward filling values from previous index until a new value is found"""
ser5

0        USA
1        USA
2        USA
3        USA
4        USA
5     Canada
6     Canada
7     Canada
8     Canada
9     Canada
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
dtype: object

In [35]:
#Index rows, columns
dframe = DataFrame(randn(25).reshape(5,5))
dframe

          0         1         2         3         4
0  0.113065 -0.010421 -1.029097 -0.423592  1.030538
1 -2.578284  0.299527 -0.347687  0.496474  0.053482
2  0.097382  0.293407  0.899279  1.575240  0.200763
3  0.042522 -0.023370  0.797366  0.077045 -0.091932
4  1.228783  0.013717  1.237945 -1.077797 -0.975137

In [41]:
dframe1 = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe1

       col1      col2      col3      col4      col5
A -0.695903 -0.891635  2.109680 -0.467505 -2.180400
B  0.954249  0.272680 -0.242750 -0.941819  1.336799
D  0.365381 -1.611336 -0.412436  0.088112  0.609880
E  1.357077  0.878562  1.145253 -1.254244  0.220992
F  1.783788 -1.117429 -1.381298  0.483876 -0.620898

In [45]:
dframe2 = dframe1.reindex(['A','B','C','D','E','F'])
dframe2 #For the index 'C' introduced, null values are populated

       col1      col2      col3      col4      col5
A -0.695903 -0.891635  2.109680 -0.467505 -2.180400
B  0.954249  0.272680 -0.242750 -0.941819  1.336799
C       NaN       NaN       NaN       NaN       NaN
D  0.365381 -1.611336 -0.412436  0.088112  0.609880
E  1.357077  0.878562  1.145253 -1.254244  0.220992
F  1.783788 -1.117429 -1.381298  0.483876 -0.620898

In [48]:
new_columns = (['col1','col2','col3','col4','col5','col6'])
dframe3 = dframe2.reindex(columns = new_columns)
dframe3

       col1      col2      col3      col4      col5  col6
A -0.695903 -0.891635  2.109680 -0.467505 -2.180400   NaN
B  0.954249  0.272680 -0.242750 -0.941819  1.336799   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.365381 -1.611336 -0.412436  0.088112  0.609880   NaN
E  1.357077  0.878562  1.145253 -1.254244  0.220992   NaN
F  1.783788 -1.117429 -1.381298  0.483876 -0.620898   NaN

In [50]:
dframe1.ix[['A','B','C','D','E','F'],new_columns]
#Use ix to reindex the same series - above as dframe3 we had created a new one

       col1      col2      col3      col4      col5  col6
A -0.695903 -0.891635  2.109680 -0.467505 -2.180400   NaN
B  0.954249  0.272680 -0.242750 -0.941819  1.336799   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.365381 -1.611336 -0.412436  0.088112  0.609880   NaN
E  1.357077  0.878562  1.145253 -1.254244  0.220992   NaN
F  1.783788 -1.117429 -1.381298  0.483876 -0.620898   NaN