In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
obj = Series([3,6,9,12])
#Series creates an indexed array
obj

0     3
1     6
2     9
3    12
dtype: int64

In [2]:
obj.values #values inside the obj object

array([ 3,  6,  9, 12])

In [6]:
obj.index #shows the index values on the Series object

Int64Index([0, 1, 2, 3], dtype='int64')

In [3]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','United States'])
ww2_cas

USSR             8700000
Germany          4300000
China            3000000
Japan            2100000
United States     400000
dtype: int64

In [12]:
ww2_cas['United States']

400000

In [14]:
ww2_cas[ww2_cas > 4000000] #Countries that had casualties greater than 4 million

USSR       8700000
Germany    4300000
dtype: int64

In [4]:
#Series can also be treated as an ordered dictionary
ww2_cas_fil = ww2_cas
'USSR' in ww2_cas_fil

True

In [13]:
# Converting Series into a dictionary
ww2_dict = ww2_cas.to_dict
ww2_dict

<bound method Series.to_dict of USSR             8700000
Germany          4300000
China            3000000
Japan            2100000
United States     400000
dtype: int64>

In [14]:
ww2_cas_ser = Series(ww2_dict) #Converting dictionary back to Series
ww2_cas_ser

0    <bound method Series.to_dict of USSR          ...
dtype: object

In [15]:
ww2_cas_ser.values

array([ <bound method Series.to_dict of USSR             8700000
Germany          4300000
China            3000000
Japan            2100000
United States     400000
dtype: int64>], dtype=object)

In [19]:
countries = ['China','Germany','Japan','United States','USSR','Argentina']

In [20]:
obj2 = Series(ww2_cas,index=countries) #re-indexing the series with a different index.
"""Research - find out why in the training video the obj2 = Series(ww2_cas,index=countries) requires
ww2_dict i.e. the dictionary to be specified instead of of ww2_cas the series itself
When I follow the video and use ww2_dict, it actually creates a series of dictionaries i.e. repeats the whole structure"""
obj2

China            3000000
Germany          4300000
Japan            2100000
United States     400000
USSR             8700000
Argentina            NaN
dtype: float64

In [21]:
obj2.values

array([ 3000000.,  4300000.,  2100000.,   400000.,  8700000.,       nan])

In [22]:
pd.isnull(obj2)

China            False
Germany          False
Japan            False
United States    False
USSR             False
Argentina         True
dtype: bool

In [23]:
pd.notnull(obj2)

China             True
Germany           True
Japan             True
United States     True
USSR              True
Argentina        False
dtype: bool

In [26]:
ww2_cas

USSR             8700000
Germany          4300000
China            3000000
Japan            2100000
United States     400000
dtype: int64

In [27]:
ww2_cas + obj2 #adding two series - adds the values against indexes

Argentina             NaN
China             6000000
Germany           8600000
Japan             4200000
USSR             17400000
United States      800000
dtype: float64

In [29]:
obj2.name = "World War 2 casualties"
obj2

China            3000000
Germany          4300000
Japan            2100000
United States     400000
USSR             8700000
Argentina            NaN
Name: World War 2 casualties, dtype: float64

In [30]:
obj2.index.name = "Countries"
obj2

Countries
China            3000000
Germany          4300000
Japan            2100000
United States     400000
USSR             8700000
Argentina            NaN
Name: World War 2 casualties, dtype: float64