In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index=pd.Index(['LA','SF'],name='city'),
                   columns=pd.Index(['A','B','C','D'],name='letter'))
"""pd.Index allows you to name the Index"""
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
dframe_st = dframe1.stack()
dframe_st #Series data type

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [11]:
dframe_st.unstack('letter') #unstack creates DataFrame

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [12]:
ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6],index=['X','Y','Z'])

In [13]:
dframe_c = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
dframe_c #just two series pushed. dframe_c is not really a dataframe type

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [16]:
dframe_c.unstack() #this creates a DataFrame

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [18]:
dframe_c.unstack().stack() #unstack followed by stack on the Series filters out null values

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [19]:
dframe_c = dframe_c.unstack()
dframe_c

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [20]:
dframe_c.stack(dropna=False) #keeping null values

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64