In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
#need conda install xlrd and conda install openpyxl

In [4]:
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [7]:
dframe = xlsfile.parse('Sheet1')
dframe #created dataframe

   this is a test  Unnamed: 1  Unnamed: 2
0              23        4478         456
1             234         679         456
2             234           7         343
3              34          56         394
4               5         456        4180